* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f7;
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar */

nav {
    background-color: #f5f5f7;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-item {
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: bold;
    transition: color 0.3s;
    display: block;
    padding-bottom: 5px;
}

.nav-item a.active::after {
    content: "";
    position: absolute;
    bottom: 0; /* 距離父元素底部 0px */
    left: 0;   /* 距離父元素左邊 0px */
    right: 0;  /* 距離父元素右邊 0px */
    height: 2px;
    background-color: black;
    animation: slideIn 0.3s ease;
}

@keyframes slideIn {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.nav-item a:hover {
    color: gray;
}

/* Home */

#home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#home h1 {
    font-size: 75px;
    margin-bottom: 12px;
}

#home p {
    font-size: 25px;
}

/* About */

#about {
    padding: 80px;
}

#home::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px; 
    height: 900px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle,
        rgba(176, 131, 255, 0.7) 0%,
        rgba(131, 154, 224, 0.4) 25%,
        rgba(255, 255, 255, 0) 50%
    );
    filter: blur(90px);
    z-index: -1;
}

.profile-pic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

@keyframes rotate360 {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(360deg); }
}

.profile-pic:hover {
  animation: rotate360 1s linear;
}

.about-me {
    display: flex;
    align-items: center;
    gap: 60px;
}

#about h2 {
    font-size: 50px;
    margin-bottom: 12px;
}

#about p {
    font-size: 22.5px;
    line-height: 2;
}

.tech-stack {
    margin-top: 150px;
    overflow: hidden;
}

.tech-icons-wrapper {
    display: flex;
    width: fit-content;
    animation: scroll 25s linear infinite;
}

.tech-icons {
    display: flex;
    scrollbar-width: none;
    gap: 12.5px;
}

.tech-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 12.5px;
    /* flex-shrink: 0; */
    transition: transform 0.3s ease;
}

.tech-icon:hover {
    transform: scale(1.1);
}

.tech-icons-wrapper:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.timeline {
    margin-top: 150px;
}

.timeline ul {
    padding-left: 25px;
}

.timeline li {
    font-size: 22.5px;
    line-height: 2;
} 

/* Projects */

#projects {
    padding: 80px;
}

#projects h2 {
    font-size: 50px;
    margin-bottom: 25px;
}

.project-search {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.project-search input {
    flex: 1;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 12px 18px;
    font-size: 16px;
}

.project-search button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
}

.project-list {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 25px;
    padding: 15px;
    margin: -15px;
}

.project-item {
    flex: 1 1 375px; 
    min-width: 375px;
    height: 350px;

    background-color: white;
    border-radius: 16px;
    padding: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
}

/* Control hovered card */
.project-list .project-item:hover {
    flex: 1 1 0;

}

/* when list hovered, control "not" hovered cards */
.project-list:hover .project-item:not(:hover) {
    flex: 0 0 90px; 
    min-width: 90px;

}

.project-item .content { 
    transition: opacity 0.3s ease;
}

/* when list hovered, control "not" hovered cards' content */
.project-list:hover .project-item:not(:hover) .content {
    opacity: 0;
}

.project-list:hover .project-item:not(:hover) .title {
    opacity: 1;
}


.project-item h3 {
    font-size: 22.5px;
    margin-bottom: 12.5px;
}

.project-item p {
    font-size: 17px;
    line-height: 2;
}

.project-item p:last-child {
    margin-top: auto;
}

/* Contact */

#contact {
    padding: 80px;
}

#contact h2 {
    font-size: 50px;
    margin-bottom: 25px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.contact-form input,
.contact-form textarea {
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
}

/* 正在輸入時的 CSS */
.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    outline: 2px solid black;
}

.contact-form textarea {
    resize: none; /* 不能更改輸入框大小 */
    min-height: 150px;
    font-family: inherit;
}

.contact-form button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.social-links {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-icon:hover {
    transform: translateY(-3px);
}

.social-icon svg {
    width: 24px;
    height: 24px;
}


#home,
#projects,
#sketch,
#contact,
.fade-in-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

#home.visible,
#about.visible,
#projects.visible,
#sketch.visible,
#contact.visible,
.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Pencil Sketch 區塊 */

#sketch {
    padding: 80px;
}

#sketch h2 {
    font-size: 50px;
    margin-bottom: 25px;
}

/* 圖片容器 */
.k-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 800px;
    height: 500px;
    transition: all 0.4s ease;
    left: 25%;
    top: 50px;
}

.k-container:hover .box {
    filter: grayscale(100%) opacity(24%);
}

/* 單張圖片 */
.k-container .box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.k-container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

/* Grid hover 調整 */
.k-container:has(.k-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.k-container:has(.k-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.k-container:has(.k-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.k-container:has(.k-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.k-container:has(.k-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

/* 交錯效果 */
.box:nth-child(odd) {
    transform: translateY(-16px);
}

.box:nth-child(even) {
    transform: translateY(16px);
}

/* 浮出文字 */
.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 0.4s ease;
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.4s;
}

/* project picture */
.p-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

.p-item {
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    box-shadow:
        0 8px 20px rgba(0,0,0,0.18),
        0 3px 10px rgba(0,0,0,0.12);
    transition: transform 0.6s ease, opacity 0.6s ease;

}

.p-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-item:hover {
    transform: scale(1.3);
    box-shadow:
        0 20px 35px rgba(0,0,0,0.25),
        0 6px 14px rgba(0,0,0,0.18);
}

.p-container .p-item:nth-child(3) {
    width: 450px;
    height: 300px;
    margin-top: 100px;
}

/* spotlight class */
.p-item.spotlight {
    transform: scale(1.25) translateY(-10px);
    z-index: 10;
}

.p-item.fade {
    transform: scale(0.8) translateY(20px);
    opacity: 0;
}